body{
    background-color: rgb(95, 58, 129);
}
.image{
        width: 20%;
        height: 200px;
}
ul {
    margin:0;
    padding:0;
    text-align: center;
    list-style:none;                
}
ul  li {
    padding: 2px 5px;               
}

.logout-button {
    position: relative;
    left: 1050px;
    top: 10px;
    width: 100px;
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 10px;
    min-height: 30px;
    outline: 0;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.logout-button:hover,
.logout-button:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
}

.logout-button:active {
    opacity: .5;
}