body{
    font-family: 'Arial', sans-serif;
    background-color: rgb(82, 64, 122);
}

.car-form {
    max-width: 400px;
    margin: 0 auto;
}


input, button {
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}


.logout-button {
    position: relative;
    left: 1100px;
    top: 10px;
    width: 100px;
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 10px;
    min-height: 30px;
    outline: 0;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.logout-button:hover,
.logout-button:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
}

.logout-button:active {
    opacity: .5;
}