<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test zest</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "/main/show.css" %}">
</head>
<body>
    <a href="/"><button type="button">Return</button></a>
    <a href="logout"><button class="logout-button" role="button">Logout</button></a>
    {% if cars %}
    <ul>
        {% for car in cars %}
            <li>
                <h2>{{ car.car_name }}</h2>
                <img src="{{ car.get_image_url }}" alt="" class="image">
                <h3>{{ car.price }} dza</h3>
                <form action="/remove" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                        <input type="hidden" name="remove" id="remove" value="{{ car }}">
                        <button type="submit">Delete</button>
                </form>
            </li>
        {% endfor %}
    </ul>
    {% else %}
    <h1>
        No cars to display
    </h1>
    {% endif %}
    
</body>
</html>